* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #314c53;
}
.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
   
}
.container {
  display: flex;
  justify-content: center;
  width: 250px;
  text-align: center;
  align-items: center;
}

.container-4 {
  display: flex;
  width: 250px;
  text-align: center;
  justify-content: center;
}
.container-5 {
  display: flex;
  width: 250px;
  text-align: center;
  justify-content: center;
}

.container-6 {
  display: flex;
  text-align: center;
  width: 250px;
  padding: 5px;
  height: 55px;
}

.calculator {
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  width: 100px;
}
.calculator:hover {
  background-color: #bbdec6;
  
  color: #3d7421;
}
.text {
  color: #6d8d76;
  text-align: center;
  height: 100%;
  padding: 25px;
}
.inputText {
  display: block;
  padding-top: 35px;
  width: 250px;
  margin: 0 auto;
  background-color: #e0ffcc;
}
.btn {
  border: 1px ;
  font-size: 35px;
  color: #010300;
  cursor: pointer;
  display: flex;
 
}
#multiplicacao{
margin-left: 78px;
}

@media (min-width: 320px) {
  .main-container .btn {
    cursor: pointer;
    margin: 0 auto;
    padding: 7px;
    color: #010300;
    background-color: #3d7421;
  }
  .container {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-4 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-5 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-6 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .calculator {
    display: flex;

    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
}
@media (min-width:414px){
  .container{
   width: 100%;

  }
  .container-4{
    width: 100%;
  }
  .container-5{
    width: 100%;
  }
  .container-6{
    width: 100%;
  }
  #multiplicacao{
    margin-left: 55%;
    }
}
