* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #314c53;
}
body{
  font-family: Helvetica, sans-serif;

}
#previous-operation {
  display: flex;
  padding-top: 35px;
  padding: 1em;
  width: 250px;
  margin: 0 auto;
  background-color: #e0ffcc;
  overflow-wrap: break-word;
  color: #777;
  min-height: 2.6em;
  justify-content: flex-end;
  align-items: center;
 
}
.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
   
}
.container {
  display: flex;
  justify-content: center;
  width: 250px;
  text-align: center;
  align-items: center;
}

.container-4 {
  display: flex;
  width: 250px;
  text-align: center;
  justify-content: center;
}
.container-5 {
  display: flex;
  width: 250px;
  text-align: center;
  justify-content: center;
}

.container-6 {
  display: flex;
  width: 250px;
  justify-content: space-between;   

}

.calculator {
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  width: 100px;
}
.calculator:hover {
  background-color: #bbdec6;
  
  color: #3d7421;
}
#btn0{
 text-align: center;
}
 
.text {
  color: #6d8d76;
  text-align: center;
  height: 100%;
  padding: 25px;
}
 
.btn {
  border: 1px ;
  font-size: 35px;
  color: #010300;
  cursor: pointer;
  display: flex;
 
}
.btn:hover{
  background-color: #6d8d76;
 }

@media (max-width: 320px) {
  .main-container .btn {
    cursor: pointer;
    margin: 0 auto;
    padding: 7px;
    color: #010300;
    background-color: #3d7421;
  }
  .container {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-4 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-5 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-6 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .calculator {
    display: flex;
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
}
@media (max-width:414px){
  .container{
   width: 100%;

  }
  .container-4{
    width: 100%;
  }
  .container-5{
    width: 100%;

  }
  .container-6{
    width: 100%;
  }
 
}
@media (max-width:768px){
  .main-container .btn {
    cursor: pointer;
    margin: 0 auto;
    padding: 7px;
    color: #010300;
    background-color: #3d7421;
  }
  .container {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-4 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-5 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-6 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .calculator {
    display: flex;
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
}
@media (max-width:1024px){
  .main-container .btn {
    cursor: pointer;
    margin: 0 auto;
    padding: 7px;
    color: #010300;
    background-color: #3d7421;
  }
  .container {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-4 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-5 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-6 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .calculator {
    display: flex;
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
}

@media (max-width:1400px){
  .main-container .btn {
    cursor: pointer;
    margin: 0 auto;
    padding: 7px;
    color: #010300;
    background-color: #3d7421;
  }
  .container {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-4 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-5 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .container-6 {
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
  .calculator {
    display: flex;
    margin: 0 auto;
    background-color: #3d7421;
    color: #010300;
  }
}